language: node_js
node_js:
  - "node"
script: npm run lib && npm test
after_success: npm run coverage
deploy:
  provider: npm
  email: $NPM_EMAIL
  api_key: $NPM_AUTH_TOKEN
  skip_cleanup: true
  on:
    tags: true